{% extends "base.jinja" %}
{% set title="Home" %}
{% block title %}
    Maōri Dictionary | Home
{% endblock title %}
{% block heading %}
    Maōri - English Dictionary
{% endblock heading %}
{% block main %}
{% endblock main %}
