{% extends "base.jinja" %}
{% set title = category.EnglishName %}
{% block main %}
    <h1>{{ category.EnglishName }} category</h1>
    {% if user and user.teacher %}
        {# data-confirm shows a confirm popup using a custom script tag #}
        <a data-confirm
           href="{{ url_for('delete_category_action', id=category.ID) }}">Delete category</a>
        <section class="admin-edit-section">
            <fieldset form="add-word">
                <legend>Add new word</legend>
                <form action="{{ url_for('create_word_action') }}"
                      id="add-word"
                      method="POST">
                    {{ components.TextField("english-spelling", "English spelling") }}
                    {{ components.TextField("maori-spelling", "Māori spelling") }}
                    {{ components.TextField("english-definition", "Defintion (English)", textarea=true) }}
                    {{ components.TextField("year-level", "Year level first encounted (0-13)", type="number", min="0", max="13") }}
                    {{ components.TextField("image-filename", "Image Filename (inc. extention)", required=False) }}
                    <input name="category-id" type="hidden" value="{{ category.ID }}" />
                    <button type="submit">Create word</button>
                </form>
            </fieldset>
        </section>
    {% endif %}
    {{ components.WordList(words) }}
{% endblock main %}
