{% extends "base.jinja" %}
{% set title = word.MaoriSpelling + " - " + word.EnglishSpelling %}
{% block main %}
    <h1>{{ word.MaoriSpelling }} - {{ word.EnglishSpelling }}:</h1>
    {{ components.WordImage(word) }}
    <p>Defintion: {{ word.EnglishDefinition }}</p>
    <p>
        Category: <a href="{{ url_for('category_page', id=category.ID) }}">{{ category.EnglishName }}</a>
    </p>
    <p>Created on: {{ created_at.strftime('%d %B %Y, at %I:%M%p') }}</p>
    {% if user and user.teacher %}
        <p>
            Teacher actions:   <a data-confirm href="{{ url_for('delete_word_action', id=word.ID) }}">Delete word</a>
        </p>
    {% endif %}
{% endblock main %}
