/* Reset */
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
}

/* Theme */
:root {
  --accent: #fb923c;
  --background: #fafaf9;
  --background-2: #f5f5f4;
  --text: #1c1917;
  --text-2: #292524;
  --text-danger: red;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent: #ea580c;
    --background: #1c1917;
    --background-2: 292524;
    --text: #fafaf9;
    --text-2: #f5f5f4;
  }
}

/* Main page stuff */
html,
body {
  background-color: var(--background);
  color: var(--text);
}

main {
  padding: 15px;
}

.user-name {
  font-weight: bold;
  font-style: italic;
}

/* Generic site-wide styles */

a.back-link::before {
  content: "← ";
}

.danger-text {
  color: var(--text-danger);
}

/***********************
*       Menu page      *
************************/
.menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
  justify-content: center;
}

.product {
  width: 425px;
  height: 300px;
  display: flex;
  gap: 10px;
  position: relative;
}

.product-image {
  width: 200px;
  height: 300px;
  aspect-ratio: 2/3;
  border-radius: 50px;
  display: block;
  border: 2px solid var(--text);

  /* Dark overlay */
  filter: brightness(80%);

  /* Makes the image fill the container nicely */
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: auto;
}

.product-name {
  font-size: 48px;
  letter-spacing: -0.07em;
  line-height: 58px;
  color: var(--text-2);
}

.product-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.015em;
}

.product-price {
  color: var(--accent);
  font-weight: 700;
  font-size: 64px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.product-add-to-cart-link {
  margin-bottom: 10px;
}

@media (max-width: 920px) {
  .menu-list {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    gap: 50px;
  }

  .product {
    height: auto;
    width: auto;
    flex-direction: column;
  }

  .product-image {
    aspect-ratio: 3/2;
    width: 100%;
    height: auto;
    border-radius: 25px;

    /* Dark overlay */
    filter: brightness(80%);

    /* Makes the image fill the container nicely */
    object-fit: cover;
  }

  .product-info {
    flex-direction: column;
    height: auto;
  }

  .product-name {
    font-size: 48px;
    letter-spacing: -0.07em;
    line-height: 58px;
    color: var(--text-2);
  }

  .product-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
  }

  .product-price {
    bottom: 100%;
    top: 15px;
    left: 15px;
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  width: 100%;
  margin-bottom: 25px;
}

.category-list a {
  display: block;

  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;

  border: 1px solid transparent;
  border-radius: 15px;

  text-decoration: none;
  color: var(--text);
}

.category-list [data-current-category="yes"] a {
  font-weight: bold;
  color: var(--accent);
  letter-spacing: 0.05em;
}

.category-list a:hover {
  border-color: var(--text-2);
}

.category-list [data-current-category="yes"] a:hover {
  border-color: var(--accent);
}

/***********************
*       Forms          *
************************/
fieldset {
  border: 1px solid var(--text-2);
}

form,
fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
}

label:focus-within {
  color: var(--accent);
}

form textarea {
  resize: vertical;
}

form :is(button, input, select, textarea) {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--text);
  background-color: var(--background);
  display: block;
  border-radius: 5px;
  width: 100%;
}

form .input-wrapper:has(.input-prefix) input {
  padding-left: 5px;
}

form :is(button, .input-wrapper, select, textarea) {
  border: 2px solid var(--text-2);
  border-radius: 5px;
  width: 100%;
}

form :is(button, input, select, textarea):hover {
  background-color: var(--background-2);
}

form :is(button, select, textarea):focus,
form .input-wrapper:focus-within {
  border-color: var(--accent);
}

form :is(button, input, .input-wrapper, select, textarea):focus {
  background-color: var(--background-2);
  outline: none;
}

form .input-wrapper {
  padding: 0px;
  display: flex;
  align-items: center;
}

form .input-wrapper .input-prefix {
  padding-left: 10px;
}

form input {
  flex-basis: 100;
  padding: 10px;
}

form button[type="submit"] {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

aside {
  padding: 10px;
  border: 2px solid var(--background);
  border-radius: 5px;
}

.error-callout {
  border-color: red;
  background-color: darkred;
  color: white;
}

.info-callout {
  border-color: blue;
  background-color: darkblue;
  color: white;
}

@media screen and (min-width: 700px) {
  fieldset {
    align-items: center;
  }

  form {
    align-items: center;
  }

  form :is(button, .input-wrapper, select, textarea) {
    width: 500px;
  }
}
