/* Reset */
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
}

/* Theme */
:root {
  --accent: #fb923c;
  --background: #fafaf9;
  --text: #1c1917;
  --text-light: #292524;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent: #ea580c;
    --background: #1c1917;
    --text: #fafaf9;
    --text-light: #f5f5f4;
  }
}

/* Main page stuff */
html,
body {
  background-color: var(--background);
  color: var(--text);
}

main {
  padding: 15px;
}

/* Menu page */
.menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
  justify-content: center;
}

.product {
  width: 425px;
  height: 300px;
  display: flex;
  gap: 10px;
  position: relative;
}

.product-image {
  width: 200px;
  height: 300px;
  aspect-ratio: 2/3;
  border-radius: 50px;
  display: block;

  /* Dark overlay */
  filter: brightness(80%);

  /* Makes the image fill the container nicely */
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: auto;
}

.product-name {
  font-size: 48px;
  letter-spacing: -0.07em;
  line-height: 58px;
  color: var(--text-light);
}

.product-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.015em;
}

.product-price {
  color: var(--accent);
  font-weight: 700;
  font-size: 64px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 15px;
}

@media (max-width: 920px) {
  .menu-list {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    gap: 50px;
  }

  .product {
    height: auto;
    width: auto;
    flex-direction: column;
  }

  .product-image {
    aspect-ratio: 3/2;
    width: 100%;
    height: auto;
    border-radius: 25px;

    /* Dark overlay */
    filter: brightness(80%);

    /* Makes the image fill the container nicely */
    object-fit: cover;
  }

  .product-info {
    flex-direction: column;
    height: auto;
  }

  .product-name {
    font-size: 48px;
    letter-spacing: -0.07em;
    line-height: 58px;
    color: var(--text-light);
  }

  .product-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
  }

  .product-price {
    bottom: 100%;
    top: 15px;
    left: 15px;
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  width: 100%;
  margin-bottom: 25px;
}

.category-list a {
  display: block;

  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;

  border: 1px solid transparent;
  border-radius: 15px;

  text-decoration: none;
  color: var(--text);
}

.category-list [data-current-category="yes"] a {
  font-weight: bold;
  color: var(--accent);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.category-list a:hover {
  border-color: var(--text-light);
}

.category-list [data-current-category="yes"] a:hover {
  border-color: var(--accent);
}
