{# Make components available in all templates #}
{% import 'components.jinja' as components %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - Māori to English dictionary</title>
    </head>
    <body>
        <a href="#content" id="skip-navigation-link" tabindex="999">Skip navigation</a>
        <header>
            <a href="{{ url_for('home_page') }}" id="site-title">Māori to English dictionary</a>
        </header>
        <section id="categories-container">
            <nav id="categories">
                Categories:
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{{ url_for('specific_category_page', id=category.ID) }}">{{ category.EnglishName }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
        <main id="content">
            {% block main %}
            {% endblock main %}
        </main>
        <footer>
            <p>Copyright Zade Viggers 2023</p>
        </footer>
    </body>
</html>
