{% extends "base.jinja" %}
{% set title = "Admin" %}
{% block pageheading %}
    Admin
{% endblock pageheading %}
{% block main %}
    <a href="{{ url_for('handle_admin_categories') }}">Manage categories</a>
{% endblock main %}
