<!DOCTYPE html>
<html lang="en-NZ">
    <head>
        <meta charset="utf-8"/>
        <title>
            {{ title }}
            | smile
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{{ url_for('static', filename='smile.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="navbar-brand">smile.</div>
                <nav class="navbar-links">
                    <a href="{{ url_for('handle_home') }}">Home</a>
                    <a href="{{ url_for('handle_menu') }}">Our menu</a>
                    <a href="{{ url_for('handle_contact') }}">Contact us</a>
                    {% if user %}
                        {% if user.admin %}<a href="{{ url_for('handle_admin') }}">Admin</a>{% endif %}
                        <span>Logged in as {{ user["display_name"] }}</span>
                        <a href="{{ url_for('handle_auth_log_out') }}">Log out</a>
                    {% else %}
                        <a href="{{ url_for('handle_auth') }}">Log in or Regsiter</a>
                    {% endif %}
                </nav>
            </div>
        </nav>
        <div class="container">
            <header>
                <h1>Smile</h1>
                <h2>
                    {% block pageheading %}
                    {% endblock pageheading %}
                </h2>
            </header>
            <main>
                {% block main %}
                {% endblock main %}
            </main>
        </div>
        <script>
                const params = new URLSearchParams(location.search)
                const message = params.get("m")
                if (message) {
                    // Show message to user
                    window.alert(message)
                    // Remove message from url without adding to history
                    window.history.replaceState(null, null, window.location.pathname);
                }
        </script>
        <script>
        // Get all elements we want to add confirmation dialogs to
            const confrimEls = document.querySelectorAll("[data-confirm]")
            // Add the click listener to them
            confrimEls.forEach(el => el.addEventListener("click", confrimClick))

            // Handler function
            function confrimClick(ev) {
                // Show confirm dialog to user
                const confirmed = confirm("Are you sure?")
                if (!confirmed) {
                    // If they didn't press confirm, prevent the click.
                    ev.preventDefault()
                }
            }
        </script>
    </body>
</html>
