{# Very cool Jinja macros copyright 2023 Zade Viggers. #}
{# All made by yours truly from scratch. #}
{# A component can be used like this:
`{{ components.productCard(product)}}`
in any template that imports this file. #}
{% macro productCard(product, show_add_to_cart=true)%}
    {# Product card for displaying info on a product#}
    <div class="product">
        <img height="500"
             width="500"
             src="{{ url_for('static', filename='images/'+product.image_path)}}"
             class="product-image"
             alt="A photo of a {{ product.name }}"/>
        <div class="product-info">
            <span class="product-name">{{ product.name }}</span>
            {% if user is not none and show_add_to_cart %}<a href="" class="product-add-to-cart-link">Add to cart</a>{% endif %}
            <span class="product-description">{{ product.description }}</span>
        </div>
        <span class="product-price">${{ '%.2f'|format(product.price) }}</span>
    </div>
{% endmacro %}
{% macro textField(name, label, prefix=None, textarea=False, required=True)%}
    {# Versitile text field component for all your input neeeds!#}
    <label for="{{ name }}">
        {{ label }}
        {% if textarea==false %}
            <div class="input-wrapper">
                {% if prefix %}<span class="input-prefix">{{ prefix }}</span>{% endif %}
            {% endif %}
            {% if textarea %}
                <textarea {% else %} <input {% endif %} name="{{ name }}" id="{{ name }}" {% if required %}required{% endif %} {% for arg in kwargs %} {{ arg+'="'+kwargs[arg]+'"' }}{% endfor %}  {% if textarea %}></textarea>
            {% else %}
                />
            </div>
        {% endif %}
    </label>
{% endmacro %}
