{% extends "base.jinja" %}
{% set title = "Menu" %}
{% block pageheading %}
    Our menu
{% endblock pageheading %}
{% block main %}
    <ul class="category-list">
        <li data-current-category="{{ 'yes' if current_category_id == None else 'no' }}">
            <a href="{{ url_for('handle_menu') }}">All</a>
        </li>
        {% for category in categories %}
            <li data-current-category="{{ 'yes' if category.id|string == current_category_id else 'no' }}">
                <a href="{{ url_for('handle_menu', category_id=category.id) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul class="menu-list">
        {% if products|length > 0 %}
            {% for product in products %}
                <li class="product">
                    <img height="500"
                         width="500"
                         src="{{ url_for('static', filename='images/'+product.image_path)}}"
                         class="product-image"
                         alt="A photo of a {{ product.name }}"/>
                    <div class="product-info">
                        <span class="product-name">{{ product.name }}</span>
                        <span class="product-description">{{ product.description }}</span>
                    </div>
                    <span class="product-price">${{ '%.2f'|format(product.price) }}</span>
                </li>
            {% endfor %}
        {% else %}
            <p>No products found.</p>
        {% endif %}
    </ul>
{% endblock main %}
