{% extends "base.jinja" %}
{% set title = "Admin - Categories" %}
{% block pageheading %}
    Categories - {{ category.name }}
{% endblock pageheading %}
{% block main %}
    <div class="breadcrumbs">
        <a href="{{ url_for('handle_admin')}}" class="back-link">Admin</a>
        /
        <a href="{{ url_for('handle_admin_categories')}}" class="back-link">Categories</a>
    </div>
    <section>
        <h2>Products in {{ category.name }} ({{ products|length }})</h2>
        <ul>
            {% for item in products %}
                <li>
                    <a href="{{ url_for('handle_admin_product_info', product_id=item.id)}}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Actions</h2>
        <fieldset>
            <legend>
                Modify category
            </legend>
            <form action="{{ url_for('handle_admin_update_category', category_id=category.id)}}"
                  method="post"
                  class="edit-info-form">
                <label for="category_name">
                    Name
                    <input type="text"
                           name="name"
                           id="category_name"
                           value="{{ category.name }}"/>
                </label>
                <button type="submit">Save changes</button>
            </form>
        </fieldset>
        <fieldset>
            <legend>
                Delete
            </legend>
            {% if products|length == 0 %}
                <a href="{{ url_for('handle_admin_delete_category', category_id=category.id)}}"
                   class="danger-text"
                   data-confirm>Delete category</a>
            {% else %}
                You need to remove all products from a category before you can delete it.
            {% endif %}
        </fieldset>
    </section>
{% endblock main %}
