{% extends "base.jinja" %}
{% set title = "Admin - Products" %}
{% block pageheading %}
    Products
{% endblock pageheading %}
{% block main %}
    <div class="breadcrumbs">
        <a href="{{ url_for('handle_admin')}}" class="back-link">Admin</a>
    </div>
    <section>
        <h2>All products ({{ products|length }})</h2>
        <ul>
            {% for item in products %}
                <li>
                    <a href="{{ url_for('handle_admin_product_info', product_id=item.id)}}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock main %}
