* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
}

:root {
	/* Variables for easy tweaking */

	/* Main layout */
	--categories-width: 300px; /* Only used in desktop layout */
	--navbar-height: 40px;
	--footer-height: 40px;

	/* Footer */
	--footer-x-padding: 10px;
	--header-x-padding: 10px;
}

/* Page layout on desktop screens */
body {
	display: grid;
	min-height: 100vh;

	/* Page layout */
	grid-template-columns: var(--categories-width) auto;
	grid-template-rows: var(--navbar-height) auto var(--footer-height);
	grid-template-areas:
		"header header"
		"categories main"
		"footer footer";
}

/* Page layout on mobile screens*/
@media screen and (max-width: 800px) {
	body {
		grid-template-columns: auto;
		grid-template-rows: var(--navbar-height) 1fr auto var(--footer-height);
		grid-template-areas:
			"header"
			"main"
			"categories"
			"footer";
	}
}

header {
	/* Page layout */
	grid-area: "header";
	/* Make it span all the columns */
	grid-column: 1/-1;

	/* Element layout */
	display: flex;
	align-items: center;
	padding-left: var(--header-x-padding);
	padding-right: var(--header-x-padding);
}

header #nav-links {
	margin-left: auto;
}

#categories {
	/* Page layout */
	grid-area: categories;
}

main {
	/* Page layout */
	grid-area: main;
}

footer {
	/* Page layout */
	grid-area: footer;
	/* Make it span all the columns */
	grid-column: 1/-1;

	/* Element layout */
	display: flex;
	align-items: center;
	padding-left: var(--footer-x-padding);
	padding-right: var(--footer-x-padding);
}
