* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
}

:root {
	--small: 10px;
	--medium: 20px;
	--big: 30px;
	--very-big: 40px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	display: flex;
	align-items: baseline;
	padding: var(--small);
}

nav {
	margin-left: auto;
}

main {
	flex: 1;
}
