{% extends "base.jinja" %}
{% set title = "Admin - Products" %}
{% block pageheading %}
    New product
{% endblock pageheading %}
{% block main %}
    <form action="{{ url_for('handle_admin_create_product') }}"
          method="post"
          class="edit-info-form">
        {{ components.textField("name", "Name")}}
        {{ components.textField("description", "Description", textarea=True)}}
        {{ components.textField("price", "Price", prefix="$", type="number", step="0.1")}}
        {{ components.textField("size", "Size")}}
        {{ components.textField("image_path", "Image path")}}
        <label for="product_category">
            Category
            <select name="category" id="product_category">
                {% for category in categories %}
                    <option value="{{ category.id }}"
                            {% if default_category_id and category.id == default_category_id|int %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </label>
        <button type="submit">Create product</button>
    </form>
{% endblock main %}
