{% extends "base.jinja" %}
{% set title = "Admin - Products" %}
{% block pageheading %}
    Products - {{ product.name }}
{% endblock pageheading %}
{% block main %}
    <div class="breadcrumbs">
        <a href="{{ url_for('handle_admin')}}" class="back-link">Admin</a>
        /
        <a href="{{ url_for('handle_admin_products')}}" class="back-link">Products</a>
    </div>
    <span>Category: <a href="{{ url_for('handle_admin_category_info', category_id=product_category.id)}}">{{ product_category.name }}</a></span>
    <section>
        {{ components.productCard(product, show_add_to_cart=false) }}
    </section>
    <section>
        <h2>Actions</h2>
        <fieldset>
            <legend>
                Modify product
            </legend>
            <form action="{{ url_for('handle_admin_update_product', product_id=product.id)}}"
                  method="post"
                  class="edit-info-form">
                <label for="product_name">
                    Name
                    <input type="text" name="name" id="product_name" value="{{ product.name }}"/>
                </label>
                <label for="product_description">
                    Description
                    <textarea type="text" name="description" id="product_description">{{product.description}}</textarea>
                </label>
                <label for="product_price">
                    Price
                    <input type="number"
                           name="price"
                           id="product_price"
                           value="{{ product.price }}"
                           step="any"/>
                </label>
                <label for="product_size">
                    Size
                    <input type="text" name="size" id="product_size" value="{{ product.size }}"  />
                </label>
                <label for="product_category">
                    Category
                    <select name="category" id="product_category">
                        {% for category in categories %}
                            <option value="{{ category.id }}"
                                    {% if category.id == product_category.id %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
                <label for="product_image_path">
                    Image path
                    <input type="text"
                           name="image_path"
                           id="product_image_path"
                           value="{{ product.image_path }}"/>
                </label>
                <button type="submit">Save changes</button>
            </form>
        </fieldset>
        <fieldset>
            <legend>
                Delete
            </legend>
            <a href="{{ url_for('handle_admin_delete_product', product_id=product.id)}}"
               class="danger-text"
               data-confirm>Delete product</a>
        </fieldset>
    </section>
{% endblock main %}
